<div flex layout="row" layout-align="center" ng-controller="mainController as main">
    <div flex-offset="40" flex="50"flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50">
        <md-content>
            <ng-map zoom="11" center="{{address}}" style="width:600px; height:400px">
          <directions
            draggable="false"
            travel-mode="DRIVING"
            origin="{{address}}"
            destination="{{finalAddress}}">
          </directions>
            </ng-map>
          

			
        </md-content>			
    </div>
	<div flex="20">
	 <md-button ng-click="upvote()">
	    Would you rate the place condusive ?
	 </md-button>
</div>


  <!--div layout="row" layout-sm="column" layout-align="space-around" ng-if="loading" style="margin-top: 180px;" class="md-whiteframe-z5">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div-->