<div style="min-height:100vh">  

   <br><br>
   <div layout="row" layout-sm="column" layout-align="center center">
      <div class="md-display-1">Your</div>
      <strong><div flex class="md-display-4"><b>Hindsight</b></div></strong> 
   </div>

 <div layout="column" layout-align="center center" hide show-gt-sm style="min-height:70vh">  
    <div ui-sref="404" class="inner-border md-display-1">Will you be travelling alone?</div>
    <br><br>
    <div ui-sref="search" class="inner-border md-display-1">Travelling with elderly or differently abled?</div>
 </div>

 <div layout="column" layout-align="center center" hide-gt-sm style="min-height:70vh">  
    <div ui-sref="404" class="inner-border md-headline">Will you be travelling alone?</div>
    <br><br>
    <div ui-sref="search" class="inner-border md-headline">Travelling with elderly or differently abled?</div>
 </div>
 
</div>