<div style="min-height:100vh">  
  <br><br>
  <div layout="row" layout-sm="column" layout-align="center center">
  <div class="md-display-1">Your</div>
  <strong><div flex class="md-display-4">Hindsight</div></strong> 
  </div>

<div layout="column" layout-align="center center" style="min-height:70vh">  
  <div class="inner-border md-display-1">Will you be travelling alone?</div>
  <br><br>
  <div ui-sref="search" class="inner-border md-display-1">Travelling elderly or differently abled?</div>
</div>
</div>