html { 
   overflow-y:scroll; overflow-x:scroll;
  
}


col-md-7 col-md-offset-2{
	background: #E6E6E6;
}

.inner-border {
    background: #fff;
	border: 1px solid #ccc;
	border-radius: 16px !important;
    color: #000;
    margin: 10px;
    padding: 0.0em 16px;
    position: relative;
	cursor: pointer;
}

/*#backg {
  min-height: 100vh;
  height:auto;
  background-image: url(/images/middayfinal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#null {
  margin-top: 50px;
  
  
}*/

h4,h1,h3 { 
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 400; 
}
