

.inner-border {
    background: #fff;
	border: 3px solid #ccc;
	border-radius: 16px !important;
    color: #000;
    margin: 10px;
    padding: 0.0em 16px;
    position: relative;
	cursor: pointer;
}

.md-display-4 {
        font-family: 'Tangerine', serif;
        font-size: 48px;
}

#results {
	font-family: 'Raleway', sans-serif;
}

.btn1 {
  color : rgb(49, 46, 46);
  background-color: rgba(255, 222, 121, 0.96);
  border-radius: 10px 0 0 10px;
  font-size: 16px;
}

#backg {
  min-height: 100vh;
  /*height:auto;*/
  background-image: url(/images/backg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h4,h1,h3 { 
   font-family: 'Open Sans Condensed', sans-serif;
   font-weight: 400; 
}
